body{
 background-color: slategray;
}
h1 {
    color :#ff0000;
    border:2px solid red;
   }
   /* this is a coment  */
   ul {
     color: #000;
   }
   li{
    border:2px solid rgb(146, 255, 152) ;
     color:rgb(146, 255, 152);
     background-color:tan;
   }
#firstli{
  background-color:royalblue;
}
.highligth{
  text-decoration-line: line-through ;
  background-color: tomato;
}
   /* 
   slector{
     property: value;
   }
   .class 
   #id
   
   */
    /*buttons*/
#fox{
font-size :100px;
border:0;
padding:0;
background-color: inherit;
overflow: hidden;
text-transform: none;
-webkit-appearance: none;
}
#fox:hover, 
#fox:focus{
transition-duration: 0.15s;
 transform: scale(1.2);
}